Source: libcm4all-was
Section: non-free/libs
Priority: optional
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 8.1.3),
 autoconf (>= 2.60), automake (>= 1.11),
 clang (>= 3.4) | cm4all-thirdparty-clang (>= 3.4),
 doxygen (>= 1.2),
 texlive, texlive-latex-extra,
 libcm4all-thirdparty-apreq2-dev,
 libcm4all-core-dev (>= 1.20.5),
 libcm4all-inline-dev (>= 0.3.5),
 libcm4all-http-dev (>= 1.2)
Build-Conflicts: libcm4all-was-dev
Standards-Version: 3.9.1
Vcs-git: git@dev.intern.cm-ag:max/libwas.git

Package: libcm4all-was-protocol-dev
Section: non-free/libdevel
Architecture: all
Depends: ${misc:Depends}, pkg-config (>= 0.9.0)
Replaces: libcm4all-was-dve
Conflicts: libcm4all-was-dev
Description: Development files for libwas, protocol definition
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains development files with protocol definitions.

Package: libcm4all-was-simple1
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: WAS server library, "simple" API
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains the "simple" API.

Package: libcm4all-was-simple-dev
Section: non-free/libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, pkg-config (>= 0.9.0),
 libcm4all-was-simple1 (= ${binary:Version}),
 libcm4all-inline-dev (>= 0.3.5),
 libcm4all-http-dev (>= 1.2)
Replaces: libcm4all-was-dve
Conflicts: libcm4all-was-dev
Description: Development files for libwas, "simple" API.
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains development files for the "simple" API.

Package: libcm4all-was-apreq1
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: WAS server library, libapreq2 module
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains the libapreq2 module.

Package: libcm4all-was-apreq-dev
Section: non-free/libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, pkg-config (>= 0.9.0),
 libcm4all-was-apreq1 (= ${binary:Version}),
 libcm4all-was-simple-dev (= ${binary:Version}),
 libcm4all-thirdparty-apreq2-dev
Description: Development files for libwas/apreq2
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains development files for the libapreq2 module.

Package: libcm4all-was-xios1
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: WAS server library, xios implementation
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains the libcm4all-core xios implementation.

Package: libcm4all-was-xios-dev
Section: non-free/libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, pkg-config (>= 0.9.0),
 libcm4all-was-xios1 (= ${binary:Version}),
 libcm4all-was-simple-dev (= ${binary:Version}),
 libcm4all-core-dev (>= 1.20.5)
Description: Development files for libwas/xios
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains development files for the libcm4all-core xios
 implementation.
