Source: libcm4all-was
Section: non-free/libs
Priority: optional
Maintainer: Max Kellermann <mk@cm4all.com>
Build-Depends: debhelper (>= 5), autoconf (>= 2.60), automake (>= 1.11),
 doxygen (>= 1.2),
 texlive, texlive-latex-extra,
 libglib2.0-dev (>= 2.16),
 libapreq2-dev (>= 2.13-2), libaprutil1-dev,
 libcm4all-core-dev (>= 1.20.5),
 libcm4all-http-dev (>= 1.2)
Standards-Version: 3.9.1

Package: libcm4all-was-dev
Section: non-free/libdevel
Architecture: any
Depends: ${misc:Depends}, pkg-config (>= 0.9.0),
 libglib2.0-dev (>= 2.16),
 libcm4all-http-dev (>= 1.2)
Description: Development files for libwas
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains development files.

Package: libcm4all-was-apreq-dev
Section: non-free/libdevel
Architecture: any
Depends: ${misc:Depends}, pkg-config (>= 0.9.0),
 libcm4all-was-dev (= ${binary:Version}),
 libapreq2-dev (>= 2.13-2), libaprutil1-dev
Description: Development files for libwas/apreq2
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains development files for the libapreq2 module.

Package: libcm4all-was-xios-dev
Section: non-free/libdevel
Architecture: any
Depends: ${misc:Depends}, pkg-config (>= 0.9.0),
 libcm4all-was-dev (= ${binary:Version}),
 libcm4all-core-dev (>= 1.20.5)
Description: Development files for libwas/xios
 libwas is a support library for the Web Application Socket protocol.
 .
 This package contains development files for the libcm4all-core xios
 implementation.
